den-app-java-spring/src/main/resources/application.properties

# Gradle cache and build outputs
.gradle/
**/.gradle/
build/
**/build/
bin/
**/bin/

**/mysql_data/
mysql_data/

**/sqlserver_data/
sqlserver_data/
# IDE configurations
.vscode/
.idea/

# Environment variables
.env
.env.*
!**/.env.example

# Frontend dependencies & build
**/node_modules/
node_modules/
**/dist/
dist/
/den-app-java-spring/.gradle
